@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background: linear-gradient(135deg, #fa8a8e 10%, #ee335f 100%);
}
body::before,
body::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    
}
body::before{
    clip-path: circle(30% at left 20%);
    background: linear-gradient(135deg,#fa2f5e 10%,  #fc8b8f 100%);
}
body::after{
    clip-path: circle(25% at right 80%);
    background: linear-gradient(135deg,#fc3765 10%,  #fa8c8f 100%);
}
header{
    height: 85vh;
    width: 90%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    margin: auto;
    border-radius: 25px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    position: relative;
    z-index: 12;
}
header .navbar{
    width: 100%;
    display: flex;
    padding: 35px 50px;
    justify-content: space-between;
}
header .navbar .logo a{
    font-size: 22px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
}
header .navbar .menu{
    display: flex;

}
.navbar .menu li{
    list-style: none;
    margin: 0 6px;
}
.navbar .menu a{
    text-decoration: none;
    color: #000;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.3s ease;
}
.navbar .menu a:hover{
    color: #f2f2f2;
}
.navbar .buttons input{
    color: #f2f2f2;
    outline: none;
    font-size: 17px;
    font-weight: 500;
    padding: 6px 12px;
    margin: 0 8px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    background:linear-gradient(135deg,#f73663 10%,  #f38b8e 100%); 
}
.navbar .buttons input:hover{
    transform: scale(0.9);
}
.text-content{
    width: 40%;
    margin: 100px 0 0 50px;
}
.text-content h2{
    font-size: 27px;
    font-weight: 600;
}
.text-content p{
    margin-top: 10px;
    font-size: 15px;
}
.play-button{
    position: absolute;
    right: 50px;
    bottom: 40px;
}
.play-button .play-video{
    font-size: 18px;
    font-weight: 500;
}
.play-button .play-video::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 50px;
    background: #000;
    left: -30px;
    top: 50%;
    transform: translate(-50%);
}
.play-button i{
    height: 40px;
    width: 40px;
    border: 2px solid #000;
    line-height: 38px;
    text-align: center;
    border-radius: 6px;
}
@media (max-width:850px){
    header .navbar{
        flex-direction: column;
        align-items: center;
    }
    .navbar .menu{
        margin: 10px 0 20px 0;
    }
    .text-content{
        width: 70%;
        margin: 30px 0 0 20 px;
    }
}
@media (max-width:410px){
    header{
        height: 100vh;
        width: 100%;
        border-radius: 0;
    }
}